header {
    background-color: #97c2fc;
    padding: 10px;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav ul li:hover > .dropdown {
    display: block;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown li {
    display: inline-block;
}
  body {
    font-family: Arial, sans-serif;
  }